<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CRoboto:400,400italic,700%7CRoboto+Mono&display=swap">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css" integrity="sha256-4w9DunooKSr3MFXHXWyFER38WmPdm361bQS/2KUWZbU=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css" integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin="anonymous">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v={{ cache_buster }}">
</head>
<body>
    <nav class="navbar">
        <a href="#hero" class="navbar-brand">
            <img src="{{ url_for('static', filename='assets/title.png') }}" alt="Peacemaking with Preschoolers Title">
        </a>
        <div class="navbar-links" id="navbar-links">
            {% for item in nav_items %}
                <a href="{{ item.url }}">{{ item.title }}</a>
            {% endfor %}
        </div>
        <button class="hamburger" id="hamburger-button" aria-label="Menu" aria-controls="navbar-links">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </nav>
    {% block content %}{% endblock %}
    <!-- Main JavaScript -->
    <script src="{{ url_for('static', filename='js/main.js') }}?v={{ cache_buster }}"></script>
</body>
</html>